<footer>
    <div class = "f-info">
        <div class = "f-info-socials"></div>
        <div class = logo_text> <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i></a><h3 style="color: black;">HAVENLY</h3> 
             
            </div>
        <div class = "info_links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <a href = "/about">About</a>
            <a href = "/contact">Contact</a>
            <a href = "/terms">Terms</a>
            <a href = "/privacy">Privacy</a>
          
        </div>
    </div>
</footer>