<%- layout('/layouts/Boilerplate') %>
<body>
    <h1>Create Listing</h1>
    <form method="post" action="/listings" class="needs-validation" enctype="multipart/form-data" novalidate>
        
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a title.</div>

        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control" required></textarea>
        <div class="valid-feedback">Perfect!</div>
        <div class="invalid-feedback">Please enter a description.</div>

        <label for="price">Price</label>
        <input type="number" name="price" id="price" class="form-control" required>
        <div class="valid-feedback">Valid price!</div>
        <div class="invalid-feedback">Please enter a valid price.</div>

        <label for="location">Location</label>
        <input type="text" name="location" id="location" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a location.</div>

        <label for="country">Country</label>
        <input type="text" name="country" id="country" class="form-control" required>
        <div class="valid-feedback">Nice choice!</div>
        <div class="invalid-feedback">Please enter a country name.</div>

        <label for="image">Upload Image</label>
  <input type="file" name="image" id="image" class="form-control">
        <div class="valid-feedback">Filename looks good!</div>
        <div class="invalid-feedback">Please Choose a Image</div>
        <br>

        

        <button type="submit"  class=" ">Create Listing</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
      $(document).ready(function () {
        $(".alert").alert();
      });
    </script>

</body>
