<%- layout('/layouts/boilerplate') %>
<body>
    <h1>Create Listing</h1>
    <form method="post" action="/listings" class="needs-validation" novalidate>
        
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a title.</div>

        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control" required></textarea>
        <div class="valid-feedback">Perfect!</div>
        <div class="invalid-feedback">Please enter a description.</div>

        <label for="price">Price</label>
        <input type="number" name="price" id="price" class="form-control" required>
        <div class="valid-feedback">Valid price!</div>
        <div class="invalid-feedback">Please enter a valid price.</div>

        <label for="location">Location</label>
        <input type="text" name="location" id="location" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a location.</div>

        <label for="country">Country</label>
        <input type="text" name="country" id="country" class="form-control" required>
        <div class="valid-feedback">Nice choice!</div>
        <div class="invalid-feedback">Please enter a country name.</div>

        <label for="image-filename">Image Filename</label>
        <input type="text" name="image[filename]" id="image-filename" class="form-control" required>
        <div class="valid-feedback">Filename looks good!</div>
        <div class="invalid-feedback">Please enter an image filename.</div>

        <label for="image-url">Image URL</label>
        <input type="url" name="image[url]" id="image-url" class="form-control" required>
        <div class="valid-feedback">Valid URL!</div>
        <div class="invalid-feedback">Please enter a valid image URL.</div>

        <button type="submit"  class=" ">Create Listing</button>
    </form>


</body>
